<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
<script type="text/javascript" charset="utf8" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdn.jsdelivr.net/kineticjs/4.5.4/kinetic.min.js"  ></script>
<script src="//stemformatics.sa.metacdn.com/public/js/jquery.handsontable.js"</script>
<link href="http://dev.stemformatics.org/css/combined_jquery_ui_tripoli_full.min.css" type="text/css" rel="stylesheet">
