/* SLIDER */
#main_slider_wrapper {
    position: relative;
    margin-top: 30px;
    width: 1004px;
    height: 298px;
    background-color: #F0801F;
    border: 1px solid #EC5A24;
}

#main_slider_wrapper .bx-window {
}

#main_slider_wrapper .bx-wrapper > a {
    position: absolute;
    display: block;
    height: 56px;
    top: 122px;
    width: 30px;
    text-indent: -999999px;
    background-image: url("../../images/contents/sliderbuttons.png");
}

#main_slider_wrapper .bx-wrapper > a.bx-next {
    right: 0px;
    background-position: 0px 0px;
}

#main_slider_wrapper .bx-wrapper > a.bx-next:hover {
    background-position: 0px 56px;
}

#main_slider_wrapper .bx-wrapper > a.bx-prev {
    left: 0px;
    background-position: 30px 0px;
}

#main_slider_wrapper .bx-wrapper > a.bx-prev:hover {
    background-position: 30px 56px;
}

#main_slider_wrapper .bx-pager {
    position: absolute;
    top: 8px;
    left: 183px;
    font-family: Arial, Helvetica, sans-serif;
}

#main_slider_wrapper .bx-pager a {
    display: inline-block;
    background-color: #EC5A24;
    text-decoration: none;
    text-align: center;
    width: 20px;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-right: 8px;
    color: #F7AA17;
    border: 2px solid white;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

#main_slider_wrapper .bx-pager a.pager-active {
    color: white;
}

#main_slider_wrapper .bx-pager a:hover {
    color: white !important;
}

#main_slider .slide {
    width: 1004px;
    height: 298px;
}

#main_slider .slide.even, #main_slider .slide.odd {
    background-image: url("../../images/contents/slider/backgrounds/misc.jpg");
    background-repeat: repeat-y;
}


#main_slider .slide .content {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #292929;
    background: rgba(0, 0, 0, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 16px;
    height: 184px;
    width: 608px;
    margin: 0px auto;
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
       -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
}

#main_slider .slide .content .screen {
    float: left;
    margin-right: 24px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

#main_slider .slide .content h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 9px;
}

#main_slider .slide .content p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 9px;
}

#main_slider .slide .content a {
    text-decoration: none;
    color: #9261A9;
}

#main_slider .slide .content a:hover {
    text-decoration: none;
    color: #EC5A24 !important;
}

#main_slider .slide .content .slidebutton, #front_page_projects_line .slidebutton {
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    padding: 0px 12px;
    margin-top: 7px;
    border: 1px solid white;
    background-color: #68228B;
    color: white;
}

#main_slider .slide .content .slidebutton:hover , #front_page_projects_line .slidebutton:hover{
    text-decoration: none;
    background-color: #EC5A24;
    color: white !important;
}



/* BIG LINKS */

div.big_links {
    margin-top: 12px;
    height: 120px;
    width: 1006px;
    font-family: Arial, Helvetica, sans-serif;
}

div.big_links > ul > li {
    float: left;
    margin-left: 12px;
}

div.big_links > ul > li:first-child {
    margin-left: 0px;
}

div.big_links a {
    display: block;
    position: relative;
    height: 80px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 20px;
}

div.big_links a:hover {
    color: #F7AA17 !important;
}

div.big_links a div {
}

div.big_links a h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

div.big_links a p {
    font-size: 14px;
    line-height: 16px;
}

div.big_links a.dataset {
    width: 378px;
    background-image: url("/images/contents/home_dataset.gif");
}

div.big_links a.dataset:hover {
    background-image: url("/images/contents/home_dataset_over.gif");
}

div.big_links a.dataset div {
    width: 100px;
    margin-left: 270px;
}

div.big_links a.general {
    width: 210px;
    background-image: url("../../images/contents/home_general.gif");
}

div.big_links a.general:hover {
    background-image: url("../../images/contents/home_general_over.gif");
}

div.big_links a.general div {
    margin-left: 85px;
}

div.big_links a.general div p {
    width: 100px;
}

div.big_links a.helpvids {
    width: 274px;
    background-image: url("../../images/contents/home_helpvids.gif");
}

div.big_links a.helpvids:hover {
    background-image: url("../../images/contents/home_helpvids_over.gif");
}

div.big_links a.helpvids div {
    margin-left: 85px;
}

div.big_links a.helpvids div p {
    width: 150px;
}


/* BOTTOM INFO */

div.info {
    margin-top: 20px;
    width: 1006px;
    font-family: Arial, Helvetica, sans-serif;
}

div.info > div {
    margin-left: 12px;
    float: left;
}

div.info > div:first-child {
    margin-left: 0px;
}

div.info div.left-col {
    width: 166px;
}

div.info div.middle-col {
    width: 502px;
}

div.info div.right-col {
    width: 314px;
}

div.info div.section {
    margin-top: 12px;
}

div.info div.section:first-child {
    margin-top: 0px;
}

div.info div.section > h2 {
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
    background-color: #68228B;
    margin-bottom: 2px;
    padding: 0px 8px;
    color: white;
}

div.info div.section > div {
    line-height: 15px;
    padding: 8px;
    background-color: #F8F5F9;
}

div.info div.section a {
    text-decoration: none;
    color: #EC5A24;
}

div.info div.section a:hover {
    color: black;
}

div.info div.section.partners > div {
    padding: 0px;
}

div.info div.section.partners > div li {
    border-top: 1px solid #D4C0DC;
}

div.info div.section.partners > div li:first-child {
    border-top: none;
}

div.info div.section.partners a {
    font-size: 14px;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #777;
}

div.info div.section.partners a:hover {
    color: #EC5A24;
}

div.info div.section.news > div {
    height: 197px;
}


div.info div.section.news ul.tweet_list li {
    margin-top: 12px;
}

div.info div.section.news ul.tweet_list li:first-child {
    margin-top: 0px;
}

div.info div.section.news ul.tweet_list .at {
    text-decoration: none;
    color: #EC5A24;
}

div.info div.section.news ul.tweet_list li div.tweet_info {
    color: #777;
}

div.info div.section.news ul.tweet_list li div.tweet_info a {
    text-decoration: none;
    color: #777;
}

div.info div.section.news ul.tweet_list li div.tweet_info a:hover {
    color: #EC5A24;
}

div.info div.section.news ul.tweet_list li div.tweet_info span {
    margin: 0px 3px;
}

div.info div.section.news ul.tweet_list li div.tweet_info span:first-child {
    margin: 0px;
}

div.info div.section.news div.more {
    text-align: right;
    margin-top: 6px;
}

div.info div.section.assist > div, div.info div.section.feedback > div {
    height: 54px;
    font-size: 12px;
    padding: 8px 21px;
}

div.info div.section.assist p {
    margin-top: 11px;
}

div.info div.section > div img {
    height: 52px;
    float: left;
    margin-right: 12px;
}

div.info div.section.assist img {
    height: 44px;
    width: 108px;
    margin-top: 8px;
    margin-right: 24px;
}

div.info div.section.assist a {
    color: #777;
}

div.info div.section.assist a:hover {
    color: #EC5A24;
}

div.info div.section.assist div {
    padding: 8px 48px;
}

div.info div.section.grandiose > div {
    height: 105px;
}

div.info div.section.collabs > div {
    height: 32px;
}

div.info div.section.feedback a {
    text-decoration: none;
    color: #9261A9;
}

div.info div.section.feedback img {
    width: 62px;
}

div.info div.section.feedback a:hover {
    color: #EC5A24;
}








/*** OLD CSS ***/


div.mainTextColumn div.introductionText h1 {
    font-size: 21px;
    color: #7C51A1;
    margin-bottom: 14px;
    font-weight: normal;
}

div.mainTextColumn div.introductionText {
    color: #787878;
    font-size: 16px;
    /*height: 160px; */
    margin-bottom: 20px;
    line-height: 21px;
}


div.mainTextColumn div.biologistInfo h2 a, 
div.mainTextColumn div.publicInfo h2 a{
    color: #7C51A1;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    text-decoration: none;
}
div.mainTextColumn div.biologistInfo h2 ,
div.mainTextColumn div.publicInfo h2 {
    /*width: 220px;*/
    line-height: 21px;
}


div.mainTextColumn div.biologistInfo h2 a:hover, 
div.mainTextColumn div.publicInfo h2 a:hover{
    text-decoration: underline;
}


div.mainTextColumn div.biologistInfo h2 span, 
div.mainTextColumn div.publicInfo h2 span{
    font-weight: bold;
}



div.mainTextColumn div.biologistInfo h1,
div.mainTextColumn div.publicInfo h1 {
    font-weight: bold;
}

div.mainTextColumn div.publicInfo h1 a,
div.mainTextColumn div.publicInfo h2 a{
    color: #F8971D;
}


div.mainTextColumn div.biologistInfo, div.mainTextColumn div.publicInfo {
    
    float: left;
    color: #5A5A5A;
    font-size: 14px;
    width: 492px;
    
}

div.mainTextColumn div.publicInfo {
    margin-bottom: 12px;
}

div.mainTextColumn div.biologistInfo div.ruler {
    margin-top: 8px;
    border: 1px solid #7C51A1;
    margin-bottom: 12px;
}

div.mainTextColumn div.publicInfo div.ruler {
    margin-top: 8px;
    border: 1px solid #F8971D;
    margin-bottom: 12px;
}


div.showBiologists {
    height: 65px;
    margin-top: 12px;
}

div.showBiologists img {
    height: 65px;
    width: 72px;
    float: left;
    
}

div.mainTextColumn div.biologistInfo div.showText a{
    float: left;
    width: 408px;
    margin-left: 12px;
    color: #5A5A5A;
    font-size: 14px;
    text-decoration: none;
}

div.mainTextColumn div.biologistInfo div.showText h3 a{
    font-family: Times New Roman;
    font-size: 10px;
    color: #7C51A1;
    margin-bottom: 4px;
    text-decoration: none;
}


div.mainTextColumn div.biologistInfo div.showText h3.hoverState a{
    color: #7C51A1 !important;
    text-decoration: underline !important;
    
}

div.mainTextColumn div.biologistInfo div.showText span.more {
    color: #7C51A1;
}

div.mainTextColumn div.biologistInfo div.showText span.hoverState {
    color: #000;
}


div.showPublic {
    height: 65px;
    margin-top: 12px;
}

div.showPublic img {
    height: 65px;
    width: 72px;
    float: left;
    
}

div.mainTextColumn div.publicInfo div.showText {
    float: left;
    width: 156px;
    margin-left: 12px;
    color: #5A5A5A;
    font-size: 14px;
}


div.mainTextColumn div.publicInfo div.showText h3{
    font-family: Times New Roman;
    font-size: 10px;
    color: #F8971D;
    margin-bottom: 4px;
}

div.mainTextColumn div.publicInfo div.showText h3.hoverState a{
    color: #F8971D;
    text-decoration: underline;
}

div.mainTextColumn a.hoverState {
    text-decoration: underline !important;
}

div.mainTextColumn div.publicInfo div.showText span.more {
    color: #F8971D;
}

div.mainTextColumn div.publicInfo div.showText span.hoverState {
    color: #000;
}


div.sideColumn div.news {
    /* height: 76px; */
    margin-top:12px;
    float: left;
    clear: left;

}

div.sideColumn img.small {
    width: 114px;
    height: 86px;
    float: left;
}

div.sideColumn div.showText h3{
    margin-bottom: 4px;
}
div.sideColumn div.showText h3 a{
    font-family: Times New Roman;
    font-size: 10px;
    color: #F15D22;
    text-decoration: none;
}

div.sideColumn div.showText h3.hoverState{
    color: #F15D22;
    text-decoration: underline;
}

div.sideColumn div.showText div.date a{
    margin-bottom: 3px;
    text-decoration: none;
}

div.sideColumn div.showText {
    float: left;
    width: 198px;
}

div.sideColumn div.showText div.text a{
    margin-left: 0px;
}
div.sideColumn div.showText {
    margin-left: 12px;
    
}
div.sideColumn div.showText a{
    color: #5A5A5A;
    font-size: 14px;
    text-decoration: none;
}
div.sideColumn div.showText span.more {
    color: #F15D22;
}

div.sideColumn div.showText span.hoverState {
    color: #000;
}

div.hoverState {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}

.rotating-item {
    display: none;
}

div.mainTextColumn div.MainText {
    font-family: Arial;
    color: #787878;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
}

div.mainTextColumn div.MainText a,
#moreHelp a {
    color: #F8917D;
    
}

div.mainTextColumn div.SubText {
    color: #505050;
    font-family: Arial;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 26px;
}

div.ascc {
    margin-top: 20px;
    width: 275px;
    float:left;
    color: #000;
    font-family: Arial;
    font-size: 14px;
}

div.ascc_img {
    margin-top: 15px;
    width: 75px;
    float: left;
    margin-left: 12px;
}

div.ascc_img img {
    width: 75px;
    float: left;
}

#showHelp {
    margin-bottom: 30px;
    /* height: 200px; */
}

#showHelp .innerDiv {
    font-family: Arial;
    color: #787878;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #787878;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
}


#showHelp iframe {

    width:324px;
    height:200px;
}
