th.select {

    width: 25px;
}

table {
    table-layout: fixed;
    width: 940px !important;
}

th.name {
    width: 140px;
}
th.title,
th.sample_types,
th.contact {

    
    width: 80px;

}

table td {
    word-wrap:break-word;
}


#save2, #save3 {
    margin-top: 12px;
}

#chosenDatasets {
    overflow-y: auto;
    width: 950px !important;
}

#chooseMultiDataset {

    height: 600px;
    overflow-y: auto;
    margin-left: 0px;
    width: 955px !important;
}


div.title {
    color: #F15D22;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
