#body {
    
    min-width: 1026px;    

    font-family: arial, Helvetica,sans-serif; 
    font-size: 13px;
}

#main {
    border: 2px solid #a9a9a9; 
    border-top: 1px solid #a9a9a9;
}


#header {
   /* Original
   border-top: 4px solid #808080;
    height: 100px;
    border-bottom: 8px solid #808080;
	*/
     height: 70px;
     border-bottom: 4px solid #808080;
}


#header div.limitedHeader img {
    width: 196px;
    margin-left: 30px;
    margin-top: 28px;
}

div.limitedHeader {
    width: 1008px;
}


div.rightHeader {
    font-family: Arial;
    float: right;
    color: #787878;
    font-size: 11px;
    line-height:12px;
    margin-top: 26px;
    text-align: right;
}

div.rightHeader a {
    color: #5A5A5A;
    margin-left: 4px;
    margin-right: 4px;
}

#menus {
    height: 78px;
    border-bottom: 2px solid #808080;
    color: #7C51A1;
}


#mainList {
    position: relative;
    top: 20px;
    
}


#mainList ul li {
    float: left;
    margin-right: 27px;
}

#mainList ul li.firstMenuItem{
    margin-left: 38px;
}

#mainList ul li a {
    color: #7C51A1;
    text-decoration: none;
    font-size: 13px;
}

#mainList ul li a:hover {
    color: #000;
}

#searchList, #searchListSide {
    margin-left: 30px; 
}

#searchList div.search, #searchListSide div.search{
    color: #F8971D;
    float: left;
    margin-top: 34px;
    margin-right: 10px;
    border-top: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    border-right: 2px solid #bfbfbf;
    padding: 8px;
    font-size: 13px;
}

#searchList div.hoverState, #searchListSide div.hoverState, #workbench div.hoverState{
    background-color: #F8971D;
    float: left;
    margin-top: 34px;
    margin-right: 10px;
    border-top: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    border-right: 2px solid #bfbfbf;
    padding: 8px;
    color: #000;
    text-decoration: none;
    font-size: 11px;
}

#searchList div.search a.hoverState, #searchListSide div.search a.hoverState, #workbench div.search a.hoverState{
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}


#searchList div a, #searchListSide div a {
    color: #F8971D;
    text-decoration: none;
    font-size: 13px;
}

.clear {
    clear: both;
}


div.breadcrumbs {
    margin-left: 38px;
    color: #808080;
    font-size: 13px;
    /* color: #F8991D; */
    margin-bottom: 20px;
}

div.breadcrumbs span.current {
    color: #F8971D;
}

div.breadcrumbs a {
    color: #808080;
}

div.breadcrumbs a:hover {
    color: #000;
}


#content {

    height: 400px;

}

#footer {
    margin: 20px 0px 20px 30px;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    color: #808080;
    
    height: 34px;
    font-size: 11px;
    font-family: Arial;
}

#footer div.leftfooterText{

    /*margin-top: 8px;
    margin-left: 8px;*/
    float:left;
    margin: 12px 30px;
    vertical-align: center;
    width: 636px;

}

#footer div.rightfooterText{

    margin-top: 12px;
    vertical-align: center;
    float:left;
    width: 280px; 
    text-align: right;
}


#footer div.rightfooterText a:first-child{
    margin-right: 5px;
}
#footer div.leftfooterText a {
    color: #808080;
}

#footer div.leftfooterText a:hover {
    color: #000;
}

#footer img {
    height: 9px;
}


div.leftColumn {
    /*margin-top: 50px;*/
    margin-top: 30px;
    margin-left: 38px;
    float: left;
    width: 142px;
}


div.leftColumn div.title{
    font-size: 16px;
    color: #7C51A1;
}

div.leftColumn div.list ul li{
    list-style: none;
    margin-top: 12px;
    font-family: Times New Roman;
    font-size: 12px;
    line-height: 15px;
    color: #5A5A5A;
    width: 131px;
    
}

div.leftColumn div.list ul li a{
    color: #5A5A5A;
    text-decoration: none;
}

div.leftColumn div.list ul li a:hover{
    color: #000;
    text-decoration: none;
}


div.leftColumn div.second{
    margin-top: 20px;
}

div.rightColumn {
    /*margin-top: 50px;*/
    margin-top: 30px;
    float: left;
    width: 828px;
}

li.ui-menu-item {
    list-style: none;
}

.hidden {
    display:none;
}

div.mainTextColumn {
    margin-right: 12px;
    width: 492px;
    float: left;
    clear:both;
}

div.sideColumn {
    width: 324px;
    float: left;
}

div.content {
    margin-top: 20px;
}

div.underline {
    text-decoration: underline;
}

a.linkButtons {
    text-decoration: none;
    color: #fff;
    background-color: #F8971D;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
}

a.linkButtons:hover {
   background-color: #7C51A1;
}

.content tr:first-child {
    border-top: 0px;
}

.content th{
    border-bottom:2px solid #F8AB8A;
    border-right:2px solid #F8AB8A;
    font-size: 11px;
    color: #F15D22;
}

.content th:last-child{
    border-right: 0px;
}

.content td{
    border-bottom:2px solid #FBC888;
    border-right:2px solid #FBC888;
    color: #5A5A5A;
}

.content td:last-child{
    
    border-right:0px;
}

.content tr:last-child td{
    
    border-bottom:0px;
}

.content table {
    border: 2px solid #F7A790;
}

.content table td {
    font-size: 12px;
    padding: 3px 10px;
}

.content table  a {
    color: #5A5A5A;
    font-size: 12px;
}


div.innerDiv  div.title {
    color: #F15D22;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

#graph table {
    border: 1px solid #DDD !important;
}

#graph td {
    border-bottom: 1px solid #DDD !important;
    border-right: 1px solid #CCC !important;
}



tr.odd, tr.even {
    background-color: #FFF;
}

tr.even td.sorting_1,
tr.odd td.sorting_1 {
    background-color: #FFF;
}   


div.mainTextColumn h2{
    color: #7C51A1;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    text-decoration: none;
}


div.mainTextColumn div.ruler {
    border: 1px solid #7C51A1;
    margin-bottom: 12px;
    margin-top: 8px;
}


div.sideColumn h1 {
    color: #7C51A1;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: normal;
}

div.sideColumn div.ruler {
    
    border: 1px solid #7C51A1;
    /* margin-bottom: 12px; */
}

div.sideColumn div.text {
    
    font-family: Arial;
    color: #5A5A5A;
    line-height: 13px;
    font-size: 11px;
}


div.loading {
    background: url(../images/spinner.gif) no-repeat center center;
}

div.imageRotation {

    float: left;
    width: 828px;
    height: 160px; 
    margin-bottom: 20px;
    position: relative;
}


img.large {

    float: left;
    width: 828px;
    height: 160px;
}


#rotating-item-wrapper {
	position: relative;
	
}
.rotating-item {
	position: absolute;
	top: 0;
	left: 0;
}


div.imageRotation img.background_image {
    width: 477px;
    position: absolute;
	height: 97px;
	top: 15px;
	left: 15px;
    opacity:0.7;
}

div.large_image_text {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    top: 23px;
    left: 26px;
    width: 426px;
    line-height: 20px;
}

div.large_image_text span{
    
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    
}

#graph td.graphTitle {
	color: #000;
	text-align: center;
}

div.rightColumn p {
    margin-bottom: 12px;
}

div.rulerLight {
    border-top: 1px solid #7C51A1;
    margin-bottom: 10px;
}


table {
    cellpadding:0px; 
    cellspacing:0px;
    border: 0px;
}


#form {

    width: 975px;
    border: 2px solid #BBB;
}


#form h1 {
    
}

#form div.innerDiv{

    margin:20px;
    
}

#form div.innerDiv dt{
    color: #5A5A5A;
    float: left;
    font-size: 11px;
    line-height: 13px;   
    width: 240px;
    margin-bottom: 12px;
    clear: left;
    
}

#form div.innerDiv dd{
    color: #5A5A5A;
    float: left;
    font-size: 11px;
    line-height: 13px;   
    width: 240px;
    margin-bottom: 12px;
}

#form div.innerDiv form input {
    clear: left;
    float: left;
}


#chooseDataset {
    margin-left: 30px;
    width: 978px;
}

span.warning {
    color: red;
}
