
#errorText {
    color: #5A5A5A;
    font-size: 11px;
    line-height: 13px;
}

#errorText h1 {
    color:#F15D22;
    font-size: 20px;
    text-align:left;
    margin-bottom: 20px;
    margin-top: 100px;
}

#message {
    margin-bottom: 12px;
}

#prompt{

}

div.rightColumn {
    text-align: center;
    height: 400px;
    width: 826px;
    border: 2px solid #C5C7C9;
}


div.mainTextColumn{
    text-align:left;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    float: none;
}
